/* Colors basic */

$basic-white: #ffffff;

/* Colors background */

$background-color: #000;

/* Colors text */

$text-content: #ff0000;

/* Colors icon */

$icon-logo: #0000ff;

/* Colors other element */

$decorative-element: #ff0000;

/* Font-family */

$font-family-main: Tahoma, Arial, sans-serif;

/* Font-size */

/* Other elements properties */

/* В данном блоке указываются свойства элементов, которые не вошли в вышеперечисленные обозначенные блоки (например, border-radius) */

/* Sizes of display */

$tablet-width: 768px;
$desktop-width: 1440px;
